.main_content {
  padding: 1em;
  box-sizing: border-box;
}

.aside_content {
  padding: 1em;
  box-sizing: border-box;
  font-size: small;
  line-height: 1.4em;
}

@media only screen and (min-width: 966px) {
  .aside_content {
    float: right;
    clear: none;
    width: 30%;
    border-left: 0.1em solid lightgray;
  }
  .main_content {
    float: left;
    clear: none;
    width: 70%;
  }
}