/* home page style sheet */

/* style changes for large screen sizes */
@media only screen and (min-width: 966px) {
  .aside_content {
    float: right;
    clear: none;
    width: 30%;
    border-left: 0.1em solid lightgray;
  }
  .main_content {
    float: left;
    clear: none;
    width: 70%;
  }
}