/* page basic layout styles */

/* mobile-first styles */

/* custom fonts used in site */
@font-face {
  font-family: ContentFont;
  src: url(../resources/fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: HeaderFont;
  src: url(../resources/fonts/OleoScript-Bold.ttf);
  font-weight: bold;
}
/* for smooth scrolling for menu floater */
html {
  scroll-behavior: smooth;
}

.mobile {
display: inline;
}

.tablet {
display: none;
}

.desktop {
display: none;
}
/* general styles for body content */
body {
font-family: ContentFont;
margin: 0;
align-content: center;
}
/* header styles */
header {
font-weight: 400;
line-height: 1.1;
font-family: HeaderFont;
color: #fff;
text-align: center;
background-color: black;
padding: 1em 2em;
}
/* profile links styling */
#profile_links {
clear: both;
text-align: center;
background-color: #fff;
padding: 0.1em 0em;
}

#profile_links ul {
list-style: none;
padding: 0em 2em;
}

#profile_links ul li {
display: inline;
padding: 0em 1em;
margin: auto;
}
/* navigation bar styling */
#navigation_links {
clear: both;
text-align: center;
background-color: #fff;
padding: 0.1em 0em;
}

#navigation_links ul {
list-style: none;
padding: 0em 1em;
}

#navigation_links ul li {
border: 0.1em solid black;
display: block;
padding: 1em;
margin: 0.2em 0em;
}

#navigation_links a {
text-decoration: none;
color: black;
font-weight: bold;
letter-spacing: 0.1em;
}
/* footer styling */
footer {
clear: both;
font-family: HeaderFont;
font-size: 16px;
line-height: 1.58;
text-align: center;
background-color: black;
color: white;
padding: 0.5em 1em;
font-size: small;
}

#fixed {
  bottom: 0;
  right: 2em;
  background-color: grey;
  position: fixed;
  padding: 0.5em 1em;
  font-size: small;
  opacity: 50%;
}

#fixed a {
  text-decoration: none;
  color: #fff;
}

/* color scheme for specific posts */

.featured {
  background-color: lightskyblue;
  opacity: 40%;
  padding: 0.5em;
}

.pinned {
  background-color: greenyellow;
  opacity: 40%;
  padding: 0.5em;
}

.latest {
  background-color: pink;
  opacity: 40%;
  padding: 0.5em;
}
/* style for buttons on site */
.button {
  margin: 0.5em;
}
.button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: black;
  padding: 0.5em;
}
/* styling for main section */
.main_content {
  padding: 1em;
  box-sizing: border-box;
}
/* styling for aside section */
.aside_content {
  padding: 1em;
  box-sizing: border-box;
  font-size: small;
  line-height: 1.4em;
}

.aside_content ul {
  list-style: square;
}

.aside_content a {
  color: black;
  font-weight: bolder;
}

/* media query for desktop site */
@media only screen and (min-width: 966px) {
  .mobile {
    display: none;
    }
    
  .tablet {
    display: none;
    }
    
  .desktop {
    display: inline;
    }
  /* made header sticky */
  #stickyheader {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  /* changed header style */
  header {
  font-size: x-large;
  padding: 0.5em 1em;
  }
  /* changed nav bar style */
  #navigation_links {
  text-align: center;
  border-bottom: 0.1em dashed black;
  border-top: 0.1em dashed black;
  }
  /* changed nav bar links style */
  #navigation_links ul {
  padding : 0em 1em;
  list-style: none;
  }
  
  #navigation_links ul li {
  display: inline;
  padding: 0em 2em;
  border: none;
  }
  
  #navigation_links a {
  letter-spacing: 0em;
  }
}