/* styles for blog posts in site */

.post {
  border-right: 0.5em solid lightgray;
  border-bottom: 0.5em solid lightgray;
  margin: 2em 1em;
}

.header {
  margin: 0.5em;
  max-width: 100%;
}

.header img {
  align-content: center;
  max-width: 100%;
  padding: 0.5em;
}

.post_content {
  padding: 0.5em;
}

/* border added for the images for larger width screens */
@media only screen and (min-width : 385px) {
  .header img {
    border: 0.1em dashed black;
  }
}