<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/pagetemplatestyle.css">
  <link rel="stylesheet" href="./css/poststyle.css">
</head>
<body>
  <!-- sticky header div for larger screen size -->
  <div id="stickyheader">
    <header>
      <h1>Hi! I'm Chetan Singh.</h1>
    </header>
    <!-- profile links bar -->
    <nav id="profile_links">
      <ul>
        <li><a href="https://facebook.com/profile.php?id=100045268033823"><img src="./resources/logos/facebook.png" alt="Facebook Profile" id="facebook"></a></li>
        <li><a href="https://github.com/chetansinghid"><img src="./resources/logos/github.png" alt="Github Profile" id="github"></a></li>
        <li><a href="https://www.linkedin.com/in/chetansinghid/"><img src="./resources/logos/linkedin.png" alt="LinkedIn Profile" id="linkedin"></a></li>
      </ul>
    </nav>
    <!-- navigation link bar for the site -->
    <nav id="navigation_links">
      <ul>
        <li><a href="./index.html" id="home">Home</a></li>
        <li><a href="./aboutme.html" id="aboutme">About Me</a></li>
        <li><a href="./blog.html" id="blog">Blog</a></li>
        <li><a href="./contactme.html" id="contactme">Contact Me</a></li>
      </ul>  
    </nav>
  </div>
  <!-- site body -->
  <main>
    <!-- main content of the site -->
    <div class="main_content">

    </div>
    <!-- aside content of the page -->
    <div class="aside_content">
      
    </div>
  </main>
  <footer>
    <p>All Rights Reserved.<br />&copy;Copyright Chetan Singh
    </p>
  </footer>
  <!-- sticky button for reference to navigation bar -->
  <div id="fixed" class="mobile">
    <a href="#navigation_links">Menu</a>
  </div>
</body>
</html>